#page-wrapper {
  position: relative;
  min-height: calc(100vh - 100px);
}

xmp {
  width: 100%;
  display: block;
  width: calc(100% - 40px);
  padding: 20px;
  font-size: 14px;
}

img {
  max-width: 100%;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
}

#main {


  
}
