#about_section {
  padding: 5rem 0;
  background:rgba(24, 24, 24, 1);
  h2 {
    text-align: center;
    color: #fff;
    font-size: 3rem;
    line-height: 3.1rem;
    margin-bottom: 15px;
    position: relative;
    @media all and (max-width:1024px){
      font-size:2rem;
      line-height:2rem;
    }
    span {
      color:$teal;
      font-weight:600;
    }
  }

  p {
    font-size: 1.2rem;
    line-height: 1.5em;
    text-align: center;
    max-width: 75%;
    margin: 0 auto;
    color: #fff;
    @media all and (max-width:1024px){
      font-size:1rem;
      max-width:100%;
      padding:0 0.8rem;
    }
  }
}
