
/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/
$padding:0 0.9375rem;

/*------------------------------------*\
    COLORS
\*------------------------------------*/

$white: #ffffff;
$black: #000000;
$yellow:rgb(255, 234, 0);
$teal:#D31F26;
$teal:#00cdcd;

$coolgray:#003049;
$tealwood:#D62828;
$orange:#F77F00;
$caramel:#FCBF49;
$gingerroot:#EAE2B7;
/*------------------------------------*\
    FONTS
\*------------------------------------*/
$font-size: 16px;
$font-color: $black;
$href-color: $black;
$hover-color: $black;
$family-sans-serif:'Montserrat', sans-serif !important;
$h1-family:'Lato', sans-serif;
$h1-size: 6rem;
$h1-height:6rem;
$h1-weight: 900;
//Respsonsive
$h1-tablet-size:3.5rem;
$h1-tablet-height:3.5rem;
$h1-mobile-size:3rem;
$h1-mobile-height:3rem;


$h2-size: 4rem;
$h2-weight: 700;
$h2-weight: 900;

$h3-size: 18px;
$h4-size: 16px;
$h5-size: 13px;
$h6-size: 10px;
$h1-color: $black;
$h2-color: $black;
$h3-color: $black;
$h4-color: $black;
$h5-color: $black;
$h6-color: $black;

/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/
$breakpoints: (
  xsmall        : 767,
  small         : 768px,
  medium        : 1024px,
  large         : 1215px
);

$tablet: 768px;
