@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Bold.eot');
    src: url('fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/OpenSans-Bold.woff') format('woff'),
        url('fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans.eot');
    src: url('fonts/OpenSans.eot?#iefix') format('embedded-opentype'),
        url('fonts/OpenSans.woff') format('woff'),
        url('fonts/OpenSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Extrabold.eot');
    src: url('fonts/OpenSans-Extrabold.eot?#iefix') format('embedded-opentype'),
        url('fonts/OpenSans-Extrabold.woff') format('woff'),
        url('fonts/OpenSans-Extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('fonts/Oswald-Regular.eot');
    src: url('fonts/Oswald-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Oswald-Regular.woff') format('woff'),
        url('fonts/Oswald-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('fonts/Oswald-Bold.eot');
    src: url('fonts/Oswald-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Oswald-Bold.woff') format('woff'),
        url('fonts/Oswald-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
